@use '/src/styles/mixins';

.maintext {
    color: #fff;
    font-family: 'MADE Outer Sans';
    font-size: 18px;
}

.description {
    color: #fff;
    font-family: 'MADE Outer Sans';
    font-size: 14px;
}

.item {
    @include mixins.flex;
    gap: 30px;
}

img {
    display: block;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (max-width: 744px) and (min-width: 280px) {
    .item {
        gap: 10px;
    }
}