.membership {
    color: #fff;
}

.text {
    margin-bottom: 120px;
    font-size: 48px;
    font-family: 'MADE Outer Sans';
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 68px;
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
    .cards {
        gap: 56px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 744px) {
    .membership {
        padding: 0 80px;
    }
    .cards {
        grid-template-columns: 1fr 1fr;
        gap: 34px;
    }
}

@media screen and (max-width: 744px) and (min-width: 280px) {
    .text {
        font-size: 28px;
        text-align: center;
        padding: 0 25px;
    }

    .reasons > ul {
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }

    .cards {
        display: flex;
        width: 100%;
        overflow: auto;
        gap: 12px;
    }

}


