.membership {
    color: #fff;
}

.text {
    margin-bottom: 120px;
    font-size: 48px;
    font-family: 'MADE Outer Sans';
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 68px;
}


