.main {
    margin-top: 200px;
    height: 100vh;
}

.text {
    color: #fff;
    font-size: 64px;
}

.btn {
    background-color: #FAFF00;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 25px;
}
