.main {
    margin-top: 200px;
}

.text {
    font-family: 'MADE Outer Sans';
    font-style: normal;
    color: #fff;
    font-size: 64px;
}

.btn {
    background-color: #FAFF00;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 25px;
    font-family: 'MADE Outer Sans';
    font-size: 16px;
}
