.about {
    margin-top: 250px;
    color: #FFF;
    font-family: 'MADE Outer Sans';
    align-items: center;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 118px;
}

.text {
    font-size: 48px;
}

.description {
    font-size: 14px;
    margin-top: 30px;
    max-width: 100%;
}

.image {
    width: 460px;
}

.slides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}

.slidersBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidersBtn > img {
    margin: 8px 8px 0 0;
    cursor: pointer;
}

.arrows {
    display: flex;
    justify-content: center;
}

.arrows > img {
    cursor: pointer;
}

.slides > img {
    cursor: pointer;
}

.swiperImg {
    width: 460px;
}

.swiper-button-prev {
    background: url('../../../public/assets/images/arrow1.svg');
}

