.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.logo {
    font-family: 'Bruno Ace';
    cursor: pointer;
    font-size: 24px;
}

.nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navlist {
    font-family: 'MADE Outer Sans';
    margin-right: 75px;
    font-size: 12px;
}

.navlist {
    color: #fff;
    text-decoration: none;
    transition: all .5s ease;
    cursor: pointer;
}

.navlist:hover {
    color: #FAFF00;
}

.gym {
    color: #fff;
}

.g24 {
    color: yellow;
}

.burger {
    display: none;
    content: url('../../../public/assets/images/hamburger.svg');
}

@media screen and (max-width: 744px) and (min-width: 280px) {
    .nav > ul {
        display: none;
    }

    .burger {
        display: block;
    }
    
    .navbar {
        padding: 0 55px;
    }
}
