.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 160px;
    min-height: 150px;
    color: #fff;
    font-family: 'MADE Outer Sans';
}

.footer__first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gymIcon {
    font-family: 'Bruno Ace';
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 26px;
}

.gym {
    color: #fff;
}

.g24 {
    color: yellow;
}

.topText {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

.gymText {
    max-width: 300px;
    font-size: 14px;
}

.address_text {
    font-size: 14px;  
}

.phone,
.email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.social__networks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    margin-top: 20px;
}

.footer__contacts {
    color: #fff;
    text-decoration: none;
}

.footer__contacts:hover {
    color: #FAFF00;
}

@media screen and (max-width: 800px) {
    .footer__first {
        display: none;
    }
}

@media screen and (max-width: 744px) and (min-width: 280px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px;
    }

    .footer__second {
        align-items: center;
    }

    .address_text {
        margin-bottom: 47px;
    }

    .phone, .email {
        justify-content: center;
    }

}