* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url('../public/assets/images/background.svg') top center / contain no-repeat;
  // height: 100vh;
  background-color: black;
}

@font-face {
  font-family: 'MADE Outer Sans';
  src: url('./fonts/MADE\ Outer\ Sans\ Regular\ PERSONAL\ USE.otf');
}

@font-face {
  font-family: 'Bruno Ace';
  src: url('./fonts/BrunoAceSC-Regular.ttf');
}

