* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url('../public/assets/images/background.svg') top center / contain no-repeat;
  // height: 100vh;
  background-color: black;
}
