* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexButtons {
  display: flex !important;
  align-items: center !important;
  justify-content: right !important;
}

button {
  border: none;
}

html {
  background: url('../public/assets/images/background.svg') top center / contain no-repeat;
  // height: 100vh;
  background-color: black;
}

@font-face {
  font-family: 'MADE Outer Sans';
  src: url('./fonts/MADE\ Outer\ Sans\ Regular\ PERSONAL\ USE.otf');
}

@font-face {
  font-family: 'Bruno Ace';
  src: url('./fonts/BrunoAceSC-Regular.ttf');
}

.swiper-pagination-bullet-active {
  width: 40px !important;
  height: 2px !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet {
  background: url('../public/assets/images/activeSliderBtn.svg') !important;
  width: 40px !important;
  height: 2px !important;
  border-radius: 0 !important;
}

.swiper-pagination {
  position: unset !important;
  text-align: left !important;
}

.swiper-scrollbar {
  position: relative !important;
}

.swiper-button-prev::after {
  content: url('../public/assets/images/arrow1.svg') !important;
}

.swiper-button-next::after {
  content: url('../public/assets/images/arrow2.svg') !important;
}

.swiper-button-prev, .swiper-button-next {
  position: unset !important;
  height: 0 !important;
}

.swiper-scrollbar {
  display: none !important;
}

@media screen and (max-width: 1000px) and (min-width: 280px) {
  .swiper-pagination {
    display: none !important;
  }
  .flexButtons {
    display: none !important;
  }
}

